<template name="newchannel">
  {{#if currentUser}}
    <h2 id="newchannel-header">Create a new channel</h2>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" id="title" class="form-group" placeholder="Title" aria-describedby="basic-addon1">
        <input type="text" id="query" class="form-group" placeholder="Query" aria-describedby="basic-addon1">
      </div>
      <input type="submit" id="submit" class="form-control" value="Submit">
    </form>
  {{else}}
    <h2 id="newchannel-header">You must log in first</h2>
  {{/if}}
</template>
