/* CSS declarations go here */
html {
	background: url("/gradient_background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body, html {
	background-color: transparent;
}

h1 {
	text-align: center;
	font-family: 'intro_rust_gbase_2_line';
	color: #efefef;
}

h2 {
	text-align: center;
	font-family: 'intro_rust_gbase_2_line';
	color: #e0e0e0;
}